.exterior{
  box-sizing: border-box;
  height: 1600px;
  width: 1600px;
}

.interior{
  box-sizing: border-box;
  border: 1px solid black;
  width: 100px;
  height: 100px;
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
  float: left;
}

#ficogay{
  color: white;
  padding-top: 24px;

  text-align: center;
  font-size: 150%;
  }
